.bg-navbar{
    background-color: #8087d3;
}
.landingPageInfo{
    background-color:#f3e1df;
}

.whoWeAre{
    //background: linear-gradient(,#a621df,#450461);
    background-image: linear-gradient(180deg, rgb(128, 135, 211), rgb(184, 191, 207));
    padding: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
.functionalityCard {
    width: 90%;
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    margin: 50px  50px;
    box-shadow: 0 8px 10px grey;
}
.whoWeAreTitle{
    color: white;
}
.creatorPictures{
    width: 60%;
    height:60%;
    margin-left: 20%;
    margin-top: 10%;
    color: black;
    /* left: 20px; */
}
